<%- include('./partials/header') %> <% pictures.forEach(function(p){%>
<div class="pic-container">
  <img src="<%=p.piccontent" alt="" />
  <p class="caption"><%= p.caption %></p>
</div>
<div class="comment-container">
  <% picture.comments.forEach(function(comment){%>
  <p><%= comment.content></p>
  <%})%>
  <form
    id="'add-comment-formn"
    method="POST"
    action="/pictures/<%=picture._id%>/comments"
  >
    <label>Add Comment:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Comment" />
  </form>
</div>
<% }) %>
